<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufam.promobile.museudosmisterios" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Tela_Splash.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".Instrucoes"
            android:label="@string/title_activity_regras" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_17"
            android:label="@string/title_activity_capacete_17" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_15"
            android:label="@string/title_activity_moeda_15" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_26"
            android:label="@string/title_activity_capacete_26" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_34"
            android:label="@string/title_activity_esfinge_34" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_28"
            android:label="@string/title_activity_capacete_28" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_20"
            android:label="@string/title_activity_capacete_20" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_10"
            android:label="@string/title_activity_esfinge_10" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_26"
            android:label="@string/title_activity_vaso_26" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_27"
            android:label="@string/title_activity_moeda_27" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_42"
            android:label="@string/title_activity_esfinge_42" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_28"
            android:label="@string/title_activity_sandalia_28" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_31"
            android:label="@string/title_activity_sandalia_31" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_6"
            android:label="@string/title_activity_moeda_6" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_32"
            android:label="@string/title_activity_passaro_32" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_34"
            android:label="@string/title_activity_passaro_34" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_16"
            android:label="@string/title_activity_moeda_16" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_36"
            android:label="@string/title_activity_moeda_36" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_8"
            android:label="@string/title_activity_esfinge_8" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_20"
            android:label="@string/title_activity_sandalia_20" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_32"
            android:label="@string/title_activity_capacete_32" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_28"
            android:label="@string/title_activity_vaso_28" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_11"
            android:label="@string/title_activity_sandalia_11" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_22"
            android:label="@string/title_activity_passaro_22" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_27"
            android:label="@string/title_activity_passaro_27" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_11_2"
            android:label="@string/title_activity_sandalia_11_2" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_5"
            android:label="@string/title_activity_esfinge_5" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_32"
            android:label="@string/title_activity_esfinge_32" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_15"
            android:label="@string/title_activity_sandalia_15" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_37"
            android:label="@string/title_activity_vaso_37" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_22"
            android:label="@string/title_activity_esfinge_22" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_35"
            android:label="@string/title_activity_sandalia_35" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_6"
            android:label="@string/title_activity_vaso_6" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_38"
            android:label="@string/title_activity_esfinge_38" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_15"
            android:label="@string/title_activity_vaso_15" >
        </activity>
        <activity
            android:name=".Moeda.Moedas_9"
            android:label="@string/title_activity_moedas_9" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_18"
            android:label="@string/title_activity_sandalia_18" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_31"
            android:label="@string/title_activity_moeda_31" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_41"
            android:label="@string/title_activity_capacete_41" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_10"
            android:label="@string/title_activity_passaro_10" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_31"
            android:label="@string/title_activity_vaso_31" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_22"
            android:label="@string/title_activity_capacete_22" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_14"
            android:label="@string/title_activity_capacete_14" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_7"
            android:label="@string/title_activity_passaro_7" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_33"
            android:label="@string/title_activity_moeda_33" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_12"
            android:label="@string/title_activity_passaro_12" >
        </activity>
        <activity
            android:name=".Capacete.Capacete_37"
            android:label="@string/title_activity_capacete_37" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_42"
            android:label="@string/title_activity_passaro_42" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_12"
            android:label="@string/title_activity_moeda_12" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_39"
            android:label="@string/title_activity_sandalia_39" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_23"
            android:label="@string/title_activity_sandalia_23" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_41"
            android:label="@string/title_activity_sandalia_41" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_19"
            android:label="@string/title_activity_moeda_19" >
        </activity>
        <activity
            android:name=".Vaso.Vaso_43"
            android:label="@string/title_activity_vaso_43" >
        </activity>
        <activity
            android:name=".Sandalia.Sandalia_26"
            android:label="@string/title_activity_sandalia_26" >
        </activity>
        <activity
            android:name=".Passaro.Passaro_5"
            android:label="@string/title_activity_passaro_5" >
        </activity>
        <activity
            android:name=".Moeda.Vaso_14"
            android:label="@string/title_activity_vaso_14" >
        </activity>
        <activity
            android:name=".Moeda.Moeda_41"
            android:label="@string/title_activity_moeda_41" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_19"
            android:label="@string/title_activity_esfinge_19" >
        </activity>
        <activity
            android:name=".Esfinge.Esfinge_30"
            android:label="@string/title_activity_esfinge_30" >
        </activity>
    </application>

</manifest>
